/app/public/vendor/*
/app/node_modules/*
/app/.nodemonignore
/app/.idea/workspace.xml
/app/.idea/libraries
/app/.DS_Store
*.min.js
*.min.js.map
*.min.css
/log
/key
/mongodb/data
/mongodb/log
docker-compose.yml
stackfile.yml
vars.sh
app/body-welcome-email*
app/log
app/.idea/workspace.xml
app/.idea/libraries
app/.DS_Store
.idea/libraries
.idea/workspace.xml
.DS_Store
app/build
