extends ../../../layouts/admin

block head
  title Whitelist / Details

block feet
  script(src='#{baseUrl}/views/admin/whitelist/details.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#details
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='#{baseUrl}/admin/whitelist/') Whitelist
        |  / <%- name %>

  script(type='text/template', id='tmpl-details')
    fieldset
      legend Details
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Changes have been saved.
        |<% } %>
      div.form-group(class!='<%- errfor.hash ? "has-error" : "" %>')
        label hash:
        input.form-control(type='text', name='hash', value!='<%- hash %>')
        span.help-block <%- errfor.hash %>
      div.form-group
        button.btn.btn-primary.btn-update(type='button') Update

  script(type='text/template', id='tmpl-delete')
    fieldset
      legend Danger Zone
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group
        span.help-block
          span.label.label-danger If you do this, it cannot be undone.
          |&nbsp;
          span.text-muted You may also create orphaned document relationships too.
      div.form-group
        button.btn.btn-danger.btn-delete(type='button') Delete

  script(type='text/template', id='data-record') !{data.record}
